body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f5f0;
  margin: 0;
}

header {
  background-color: #5d4037;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
 align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #ffccbc;
}

.container {
  padding: 30px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  background: #fff3e0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d7ccc8;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.login-container input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.login-container button {
  padding: 10px 20px;
  background: #6d4c41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}